<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzdz.shardingjdbc.dao.EmployeeDao">

<!--    boolean save(Employee employee);-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.zzdz.shardingjdbc.entity.Employee">
        insert into employee(nick_name, age, salary, add_time)
        value (#{nickName}, #{age}, #{salary}, #{addTime})
    </insert>

    <!--    Employee findById(Long id);-->
    <select id="findById" resultType="com.zzdz.shardingjdbc.entity.Employee">
        select * from employee where id = #{id}
    </select>

<!--    List<Employee> findByIds(@Param("ids") List<Long> ids);-->
    <select id="findByIds" resultType="com.zzdz.shardingjdbc.entity.Employee">
        select * from employee where id in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
        #{item}
        </foreach>
    </select>

</mapper>