<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzdz.shardingjdbc.dao.OrderDao">

<!--    boolean save(Order order);-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.zzdz.shardingjdbc.entity.Order">
        insert into t_order(name, creat_time)
        values (#{name}, #{creatTime})
    </insert>


<!--    List<Order> findByIds(@Param("ids") List<Long> ids);-->
    <select id="findByIds" resultType="com.zzdz.shardingjdbc.entity.Order">
        select * from t_order where id in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
        #{item}
        </foreach>
    </select>

<!--    List<Order> findByIdsAndCreatTime(@Param("ids") List<Long> ids, @Param("sTime") Long sTime, @Param("eTime") Long eTime);-->
    <select id="findByIdsAndCreatTime" resultType="com.zzdz.shardingjdbc.entity.Order">
        select * from t_order where id in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
        and
        creat_time between #{sTime} and #{eTime}
    </select>

</mapper>